.shopContainer {
	padding: 1.5rem 1rem;
	background-color: var(--accent);

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
}

.card {
	padding: .5rem;

	background-color: white;
	box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, .5);

	display: grid;
	grid-template-rows: 275px;
	gap: .8rem;
}

.card img {
	width: 100%;
	max-height: 275px;

	object-position: center;
	object-fit: contain;
	background-color: white;
	align-self: center;
}

.card h3, .card p {
	margin: 0;
}

.card h3 {
	font-size: 1em;
}
.card h3:hover {
	text-decoration: underline;
}

.card a {
	color: inherit;
}

/* Description `p` tag */
.desc {
	/* Fixed 3 lines high */
	height: calc(2.5ex * 3);
	line-height: 2.5ex;

	position: relative;
	font-size: .9em;
	overflow: hidden;
}

/* Description text content */
.desc span {
	width: auto;
	display: inline-block;
}
.desc span:hover, .overflowBtn:hover {
	text-decoration: underline;
	color: var(--text-hover);
}

.overflowBtn {
	font-size: .83em;
	color: var(--text-hover);
}

.priceContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.starContainer, .starWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.starContainer span {
	font-size: .9em;
}

.card .star {
	width: 1.5rem;
}

.totalRates {
	font-size: .8em;
}
