/* Main container */
.commentSection {
	padding: 1rem;
	background-color: var(--accent);
	border-radius: 1rem;
		
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.commentSection h3 {
	text-align: center;
}

/* Individual Review Container */
.review {
	padding: .5rem;
	background-color: var(--secondary);
	border-radius: .5rem;

	display: flex;
	flex-direction: column;
	gap: .25rem;
}

.profile {
	display: flex;
	align-items: center;
	gap: .5rem;
}

/* Profile picture */
.profile img {
	width: 5rem;

	border-radius: 50%;
}

/* Star imgs */
.starContainer img {
	width: 1.5rem;
}



/* Leave Review */
.reviewBtn,
.submitBtn {
	width: fit-content;
	padding: .5rem;
	font-size: .9rem;

	background-color: var(--secondary);
	border: 3px solid var(--accent);
	border-radius: .5rem;

	box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, .5);
	align-self: center;
}

.reviewBtn:hover,
.submitBtn:hover {
	cursor: pointer;
	background-color: rgb(93, 165, 188);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5rem;
}

form .starContainer {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

form .starContainer img:hover {
	outline: auto;
	cursor: pointer;
}

form .starContainer span {
	width: 2.2ex;
	margin-left: .5em;
	display: inline-block;
}

.starContainer .starInvalidMsg {
	width: max-content;
	margin: 0;
	font-size: .9em;
	font-weight: 500;
	color: rgb(180, 0, 0);

	position: absolute;
	bottom: 100%;
	left: 0;
}

/* Name Input Container */
.names {
	width: 80%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: .5rem;
}

.names label {
	margin-top: .8em;
	position: relative;
}

.names label::before {
	content: '* Required';

	font-size: .8em;
	font-weight: 500;
	color: rgb(180, 0, 0);

	position: absolute;
	bottom: 100%;
	left: 0;
}

/* Invalid inputs */
.names input:invalid,
form textarea:invalid {
	border: 2px solid rgb(180, 0, 0);
	background-color: rgba(255, 102, 102, 0.705);
}

label[for=review] {
	align-self: start;
	margin-left: 10%;

	position: relative;
}

label[for=review]::after {
	content: '* Required';

	font-size: .8em;
	font-weight: 500;
	color: rgb(180, 0, 0);

	position: absolute;
	bottom: 0;
	right: -5rem;
}

form textarea {
	width: 80%;
}


/* Tablet & Smaller */
@media screen and (width <= 768px) {
	.names input {
		width: 20ex;
	}
}
