header {
	width: 100%;
	padding: 0 3rem;

	background-color: var(--secondary);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	position: sticky;
	top: 0;
	z-index: 2;
	box-shadow: 4px 1px 6px 2px rgba(0, 0, 0, .5);
}

.head {
	width: 100%;
	margin-top: 1rem;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
}

.head h1 {
	justify-self: start;

	margin: 0;
}

.checkoutContainer {
	justify-self: end;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

.checkoutContainer a {
	color: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.head img {
	width: 50px;
	height: auto;

	cursor: pointer;
}

.head input[type='search'] {
	width: 100%;
	border-radius: .5rem;
	text-align: center;

	font-size: .8rem;
}

nav {
	padding: .5rem;
}

.linkContainer {
	list-style: none;
	margin: .0em;
	padding: 0;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 2.8rem;

	font-weight: 500;
}

.linkContainer a {
	color: inherit;
}

.count {
	width: 1.3em;
	height: 1.3em;

	text-align: center;
	font-size: 1.25rem;

	color: var(--main);
	background-color: rgb(221, 1, 1);
	border: 2px solid rgb(221, 1, 1);
	border-radius: 100%;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .8);

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: calc((-1.2em / 2) + 5px);
	left: calc(-1.2em / 2);
}


/* Tablet & smaller */
@media screen and (width <= 768px) {
	header {
		padding: 0 2rem;
	}

	.head {
		margin-top: .5em;
	}

	/* Main Heading */
	.head h1 {
		font-size: 2.25em;
	}

	.checkoutContainer img {
		width: 2.5rem;
	}
}

/* Mobile & Smaller */
@media screen and (width <= 500px) {
	.head {
		/* Add second row */
		grid-template-rows: 1fr auto;
		row-gap: .5rem;
	}

	.head h1 {
		/* Place heading in center / Top row */
		grid-column: 2 / 3;
		justify-self: center;
	}

	.head input[type=search] {
		/* Place searchbar below heading */
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.checkoutContainer {
		/* Keep the same */
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
}

/* Bigger Screens */
@media screen and (width >= 1800px) {
	.head img {
		width: 2.5rem;
	}
}
